{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Register</title>
    
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="demo-wrap">
        <div class="MainContainer">
    <h1 class="SigninText">Client register </h1>
    <form class="InputContainer" action ="../clientRegistered/" method="post">
        {% csrf_token %}
          <input type="text" id="rusername" name="username" class="input" placeholder="Enter Username">
          <input type="password" id="password" name="password" class="input" placeholder="Enter Password">
          <input type="password" id="password" name="confirm_password" class="input" placeholder="Confirm Password">
          <input type="text" id="email" name="email" class="input" placeholder="Enter Email">
          <input
            type="text"
            id="wallet_address"
            name="wallet_address"
            class="input"
            placeholder="Enter wallet address"
          />
          
          <div class="ButtonContainer" >
            <button type="submit" value="REGISTER">Register</button>
        </div> 
      </form>
      <p id="areyou">Already a Client? <a href="../clientLogin/" style="color:white"> Sign-In</a> </p> 
      </div>
      </div>
</body>
</html>
