{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ether Transfer</title>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.5/dist/web3.min.js"></script>
    {% comment %}
    <script src="{% static 'js/web3.min.js' %}"></script>
    {% endcomment %}
    <script src="{% static 'js/app1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'form.css' %}">
  </head>
  <body>
    <h1>Ether Transfer</h1>
    <form id="transferForm">
      <h1 id="senderAddress">Sender Address:{{senderAddress}}</h1>
      <!-- <input type="text" id="senderAddress" name="senderAddress"><br> -->

      <h2 id="recipientAddress">Recipient Address:{{receiverAddress}}</h2>
      <!-- <input type="text" id="recipientAddress" name="recipientAddress"><br> -->

      <h3 id="amount">Amount (in Ether):{{amount}}</h3>
      <!-- <input type="number" id="amount" name="amount" step="0.01"><br> -->
      <br />
      <button type="button" id="transferButton">Transfer Ether</button>
    </form>

    <p id="resultMessage"></p>
  </body>
</html>
