body{
  background-image: url("https://imageio.forbes.com/specials-images/imageserve/634ff020f35b6654fcb5c039/Abstract-blockchain-technology-concept--Internet-security--Isometric-digital-cube/0x0.jpg?format=jpg&crop=4127,2320,x0,y0,safe&width=1440");
  background-size: cover;
  padding: 0%;
  margin: 0%;
  backdrop-filter: blur(4px);
  height: 100%;
}
html {
  height: 100%;
}
header{
padding:20px;
}
.homey{
  display: grid;
  width: 80%;
  grid-template-columns: 2fr 1fr;
  padding:0vh 4vw 2vh 10vw;
  color:white;
  font-family: 'Nunito Sans', sans-serif;
}
.logo{
  z-index: 2;
}
.logo img{
  height: 5rem;
}
.heading{
  padding: 0vh 0vw 0vh 5vw;
  margin:30vh 0 0 0;
  font-size: 80px;
  color: #b6e0fc;
  font-family: sans-serif;
}


.nav{
  color : grey;
  display : flex;
  justify-content: space-between;
  align-items: stretch;
  gap :  2 rem;
  padding : 0 1rem;
  float: right;
}
.rightside{
  float : right;
  text-decoration: none;
  text-align: center;
}
.nav ul{
  float : right;
  margin : 0;
  list-style: none;
  display : flex;
  gap : 1rem;
}

.nav form input{
  color : inherit;
  height : 100%;
  display : flex;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  padding : .26rem;
  font-size: large;
  text-decoration: none;
  background-color: transparent;
  border:none;
  margin-top: 0.5rem;
}

.nav a {
  color : inherit;
  height : 100%;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  text-align: center;
}
.nav li:active{
  background-color: gray;
}
.nav li:hover{
  color: yellow;
}

#buttonStart button{
  text-align: center;
}

#buttonStart button{
  background-color: transparent;
  color: #b6e0fc;
  border: 2px solid #b6e0fc;
  height: 10vh;
  width: 10vw;
  cursor:pointer;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}

#buttonStart button:hover{
  color:black;
  background-color: #b6e0fc;
}

#ConFoot{
  padding: 0vh 10vw 0vh 0vw;
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
}

#sm>h1{
  padding: 0;
  margin: 0;
  font-size: 2vh;
  font-family: 'Nunito Sans', sans-serif;
}
#sm{
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: black;
  text-align: center;
  color: aliceblue;
  padding: 15px 0 20px 0;
  position: fixed;
  bottom: 3%;
  width: 100%;
  align-items: center;
}
.contacts img{
  height:3em;
  width:3em;
}